

body {
    background: linear-gradient(to bottom, #dd87d0, #E6E6FA);
    color: black;           
    font-family: Georgia, 'Times New Roman', Times, serif; 
    margin: 50px;           
    text-align: left;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

header {
    display: block;
    padding: 1px;        
    background-color: black; 
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div {
    margin: 0;
    padding: 20px;
}

nav {
    background-color: black;
    padding: 10px 0;
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
    background-color: plum;
    color: black;
}

aside[id="movies"] {
    text-align: center;
    background: linear-gradient(to bottom, #dd87d0, #E6E6FA);
    padding: 20px;
    color: black;
}

section {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px 0;
    font-size: larger;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

aside {
    text-align: center;
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input[type="text"], textarea {
    width: 100%;            
    padding: 10px 15px;         
    border-radius: 5px;    
    box-sizing: border-box; 
    margin: 10px 0;
}

input[type="submit"] {
    width: 100%;             
    padding: 20px;         
    border: 2px solid black; 
    border-radius: 5px;     
    background-color: black; 
    color: white;          
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(170, 86, 170);
}

footer {
    text-align: center;      
    margin-top: 20px;       
    padding: 5px;          
    background-color: black; 
    color: white;
    position: sticky;
    bottom: 0;
    z-index: 1000;
}


